APP_ENV=local

FRONTEND_DOMAIN=app.midominio.com
API_DOMAIN=api.midominio.com
CERTBOT_EMAIL=admin@midominio.com

# Accesos internos Docker (Spring y Nginx)
API_URL=http://localhost:8080/api
AI_URL=http://localhost:8000
WS_URL=ws://localhost:8080/ws
ALLOWED_ORIGINS=http://localhost:4200,http://app.midominio.com,https://app.midominio.com,http://localhost:80